* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: url(https://media.istockphoto.com/photos/deep-space-background-picture-id178149253?b=1&k=20&m=178149253&s=170667a&w=0&h=_XDvcsDmRo_O9sV9l_Q4kNXZQq14xU9Cf-Ai7LpJOSY=)
}

header {
  text-align: center;
  font-size: 2.5em;
  color: white;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 350px;
  height: 350px;
  border-radius: 10%;
  margin: 0.2em;
  border: solid white;
}

